<ng-container *ngIf="activeLocalization$ | async as activeLocalization">
  <ng-container *ngIf="deviceEnvironment$ | async as device">
    <div class="mat-toolbar mat-toolbar-single-row mat-typography">
      <div class="title-container">
        <h3 class="title">
          {{ "absences-1" | i18nPhrase }}
        </h3>
      </div>
    </div>
    <ng-container *ngIf="sidenavStatus$ | async as sidenavStatus">
      <main
        [ngClass]="{
          'main-container': sidenavStatus === 'CLOSED',
          'main-container-with-opened-sidenav': sidenavStatus === 'OPENED'
        }"
      >
        <div class="data-setting-container">
          <app-data-settings
            [listSubtitle]="'absences-2' | i18nPhrase"
            [listTitle]="'absences-1' | i18nPhrase"
            [recordCount]="(absencesList$ | async)?.length"
            [providedSearchValue]="null"
            [providedPeriodChooserValue]="defaultPeriodChooseValue"
            [showPeriodChooser]="true"
            (loadData)="loadData($event)"
            (searchHasChanged)="searchChanged($event)"
          ></app-data-settings>
        </div>
        <ng-container *ngIf="absencesList$ | async as absences">
          <ng-container *ngIf="absences.length > 0">
            <cdk-virtual-scroll-viewport
              appendOnly
              itemSize="20"
              class="list-container"
            >
              <app-absences-list-item
                *cdkVirtualFor="let absence of absencesList$ | async"
                [absence]="absence"
                (deleteAbsence)="deleteAbsence($event)"
                (openAbsenceDetail)="openAbsenceDetail($event, device)"
              >
              </app-absences-list-item>
            </cdk-virtual-scroll-viewport>
          </ng-container>
          <ng-container *ngIf="absences.length === 0">
            <app-empty-view
              [explanation]="'shared-7' | i18nPhrase"
              [icon]="'folder'"
              [title]="'shared-8' | i18nPhrase"
            ></app-empty-view>
          </ng-container>
        </ng-container>
      </main>
    </ng-container>
  </ng-container>
</ng-container>
