<app-dialog-title
  [enableDrag]="true"
  [enableMinimize]="false"
  [icon]="'people'"
  [iconTooltip]="'users-6' | i18nPhrase"
  [title]="
    popUpData?.payload?.Id && popUpData?.payload?.Id !== ''
      ? ('users-5' | i18nPhrase)
      : ('users-4' | i18nPhrase)
  "
  (closeDialog)="closeDialog()"
></app-dialog-title>
<div class="content-container">
  <ng-container *ngIf="popUpData?.contentSignature === 'USER_FORM'">
    <app-user-form
      [record]="popUpData?.payload"
      (cancel)="closeDialog()"
      (saveRecord)="submitForm($event)"
    ></app-user-form>
  </ng-container>
</div>
