<ng-container *ngIf="deviceEnvironment$ | async as environment">
  <ng-container *ngIf="configuration$ | async as configuration">
    <ng-container *ngIf="sidenavStatus$ | async as sidenavStatus">
      <mat-toolbar
        color="primary"
        [ngClass]="{
          'sticky-toolbar': environment?.screen?.activeScreenSize === 'WEB'
        }"
        ><mat-toolbar-row>
          <div class="main-menu-command-container">
            <button
              mat-icon-button
              [matTooltip]="'application-shell-1' | i18nPhrase"
              (click)="toggleSidenav(sidenavStatus)"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="app-title">{{ configuration?.applicationName }}</div>
          <ng-container *ngIf="configuration?.selectedTheme as selectedTheme">
            <ng-container *ngIf="nextTheme$ | async as nextTheme">
              <div class="theme-switch-container">
                <app-theme-switch
                  [nextTheme]="nextTheme"
                  [currentTheme]="selectedTheme"
                  (switchTheme)="themeChanged($event)"
                ></app-theme-switch>
              </div>
            </ng-container>
          </ng-container>

          <div class="locale-switch-container">
            <app-localization-selector
              [activeLocalization]="activeLocalization$ | async"
              [availableLocalizations]="availableLocalizations$ | async"
              [displayWith]="'SIGNATURE'"
              (localizationChanged)="localizationChanged($event)"
            ></app-localization-selector>
          </div>
          <div class="main-menu-command-container">
            <button
              mat-icon-button
              [matTooltip]="'application-shell-2' | i18nPhrase"
              (click)="logoutClicked()"
            >
              <mat-icon>logout</mat-icon>
            </button>
          </div></mat-toolbar-row
        ></mat-toolbar
      >
      <mat-sidenav-container hasBackdrop="true" class="mat-theme">
        <mat-sidenav
          class="sidenav"
          position="start"
          [mode]="
            environment?.screen?.activeScreenSize === 'WEB' ? 'push' : 'over'
          "
          fixedInViewport="true"
          fixedTopGap="0"
          [opened]="sidenavStatus && sidenavStatus === 'OPENED' ? true : false"
          (keydown.escape)="toggleSidenav(sidenavStatus)"
        >
          <mat-toolbar color="primary">
            <mat-toolbar-row></mat-toolbar-row>
          </mat-toolbar>
          <app-routable-item
            *ngFor="let sideMenuItem of sideMenuItems$ | async"
            [container]="sideMenuItem"
          >
          </app-routable-item>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-container">
          <div
            [ngClass]="{
              content:
                sidenavStatus === 'CLOSED' ||
                (sidenavStatus === 'OPENED' &&
                  environment?.screen?.activeScreenSize !== 'TABLET') ||
                environment?.screen?.activeScreenSize === 'WEB',
              'content-with-opened-sidenav':
                sidenavStatus !== 'CLOSED' &&
                (environment?.screen?.activeScreenSize === 'TABLET' ||
                  environment?.screen?.activeScreenSize === 'WEB')
            }"
          >
            <div
              class="side-menu-items-container mat-toolbar fade-in"
              *ngIf="
                sidenavStatus === 'CLOSED' &&
                environment?.screen?.activeScreenSize === 'WEB'
              "
            >
              <app-routable-item
                *ngFor="let sideMenuItem of sideMenuItems$ | async"
                [container]="sideMenuItem"
                [mode]="'SIDE_MENU'"
              >
              </app-routable-item>
            </div>
            <div
              [ngClass]="{
                'content-container-with-side-menu':
                  sidenavStatus === 'CLOSED' &&
                  environment?.screen?.activeScreenSize === 'WEB',
                'content-container':
                  environment?.screen?.activeScreenSize !== 'WEB' ||
                  (environment?.screen?.activeScreenSize === 'WEB' &&
                    sidenavStatus !== 'CLOSED' &&
                    environment?.screen?.activeScreenSize === 'WEB')
              }"
            >
              <router-outlet class="hide-element"></router-outlet>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </ng-container>
  </ng-container>
</ng-container>
