<mat-sidenav-container hasBackdrop="true" class="mat-theme">
  <mat-sidenav
    position="start"
    mode="over"
    fixedInViewport="true"
    fixedTopGap="0"
  >
    <mat-toolbar color="primary">
      <mat-toolbar-row></mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container">
    <ng-container *ngIf="deviceEnvironment$ | async as environment">
      <ng-container *ngIf="configuration$ | async as configuration">
        <mat-toolbar
          color="primary"
          [ngClass]="{
            'sticky-toolbar': environment?.screen?.activeScreenSize === 'WEB'
          }"
          ><mat-toolbar-row>
            <div class="app-title">{{ configuration?.applicationName }}</div>
            <ng-container *ngIf="configuration?.selectedTheme as selectedTheme">
              <ng-container *ngIf="nextTheme$ | async as nextTheme">
                <div class="theme-switch-container">
                  <app-theme-switch
                    [nextTheme]="nextTheme"
                    [currentTheme]="selectedTheme"
                    (switchTheme)="themeChanged($event)"
                  ></app-theme-switch>
                </div>
              </ng-container>
            </ng-container>

            <div class="locale-switch-container">
              <app-localization-selector></app-localization-selector>
            </div> </mat-toolbar-row
        ></mat-toolbar>
        <div class="content-container">
          <router-outlet class="hide-element"></router-outlet>
        </div>
      </ng-container>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
