<div
  *ngIf="(browser$ | async)?.name !== 'IE'"
  class="app-root"
  [class]="(selectedTheme$ | async)?.class"
>
  <router-outlet class="hide-element"></router-outlet>
</div>

<div *ngIf="(browser$ | async)?.name === 'IE'">
  <img src="./assets/images/company-logo.png" />
  <h2 class="all-hours-boot-notification-title">
    We have detected that you are using evergreen browser, which is not
    supported.
  </h2>
  <h3 class="all-hours-boot-notification-subtitle">
    Please, use one of the newer browsers.
  </h3>
</div>
