<ng-container *ngIf="activeLocalization$ | async as activeLocalization">
  <div class="mat-toolbar mat-toolbar-single-row mat-typography">
    <div class="title-container">
      <h3 class="title">
        {{ "users-1" | i18nPhrase }}
      </h3>
    </div>
  </div>
  <ng-container *ngIf="sidenavStatus$ | async as sidenavStatus">
    <main
      [ngClass]="{
        'main-container': sidenavStatus === 'CLOSED',
        'main-container-with-opened-sidenav': sidenavStatus === 'OPENED'
      }"
    >
      <div class="data-setting-container">
        <ng-container
          *ngIf="
            (deviceEnvironment$ | async)?.screen
              ?.activeScreenSize as activeScreenSize
          "
          ><app-data-settings
            [listSubtitle]="'users-2' | i18nPhrase"
            [listTitle]="'users-1' | i18nPhrase"
            [providedSearchValue]="null"
            (searchHasChanged)="searchChanged($event)"
          ></app-data-settings
        ></ng-container>
      </div>
    </main>
  </ng-container>
</ng-container>
