/**
 * XS DEVICES
 */
 :host {
  display: grid;
  grid:
    'title' 56px
    'main' auto/
    1fr;
  min-height: calc(100vh - 56px);
  min-width: 100%;
}

.title {
  margin: 0;
  font-size: 0.8em;
}

.title-container {
  display: flex;
  flex-direction: column;
  grid-area: title;
  grid-row: 1 / span 1;
}

/**
 * SM DEVICES
 */
@media screen and (min-width: 600px) and (max-width: 959px) {
  :host {
    display: grid;
    grid:
      'title' 64px
      'main' auto/
      1fr;
    min-height: calc(100vh - 64px);
    min-width: 100%;
  }

  .title {
    margin: 0;
    font-size: 0.9em;
  }
}

/**
 * LG DEVICES
 */
@media screen and (min-width: 959px) {
  :host {
    display: grid;
    grid:
      'title' 64px
      'main' auto/
      1fr;
    min-height: calc(100vh - 64px);
    min-width: 100%;
  }

  .data-setting-container {
    display:  flex;
    flex-direction: row;
    height: 96px;
    width: 100%;
  }



  .main-container {
    display: flex;
    flex-direction: column;
    grid-area: main;
    grid-row: 2 / span 1;
  }

  .main-container-with-opened-sidenav {
    display: flex;
    flex-direction: column;
    grid-area: main;
    grid-row: 2 / span 1;
  }

  .title {
    margin: 0;
    font-size: 1em;
  }
}
